@import 'tailwindcss';

:root {
  --background: #11182705;
  --foreground: #171717;
  --font-poppins: var(--font-poppins);
}

.dark {
  --background: #242424;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-poppins: var(--font-poppins);

  /* Cores customizadas do Go Explorer */
  --color-explorer-coral: #ff6b6b;
  --color-explorer-peach: #ff8e53;
  --color-explorer-blush: #ff6b9d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif !important;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.font-poppins {
  font-family: var(--font-poppins), sans-serif !important;
}

[data-mantine-color-scheme] {
  font-family: var(--font-poppins), sans-serif !important;
}
