@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #171717;
  --font-elms-sans: var(--font-elms-sans);
  --font-quicksand: var(--font-quicksand);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-elms-sans: var(--font-elms-sans);
  --font-quicksand: var(--font-quicksand);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #EDEDED;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-elms-sans), var(--font-quicksand), sans-serif;
}
