@import 'tailwindcss';

:root {
  --background: #11182705;
  --foreground: #171717;
  --font-elms-sans: var(--font-elms-sans);
  --font-quicksand: var(--font-quicksand);
}

.dark {
  --background: #242424;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-elms-sans: var(--font-elms-sans);
  --font-quicksand: var(--font-quicksand);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-elms-sans), var(--font-quicksand), sans-serif;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
